## 141 Project

In [5]:
import pandas as pd

df1 = pd.read_excel("MMCR Data Stats Class.xlsx", sheet_name="1999 to 2018")
df2 = pd.read_excel("MMCR Data Stats Class.xlsx", sheet_name="Primary OU")
df3 = pd.read_excel("MMCR Data Stats Class.xlsx", sheet_name="Primary excluding")
df4 = pd.read_excel("MMCR Data Stats Class.xlsx", sheet_name="Tarsus DBR")
df5 = pd.read_excel("MMCR Data Stats Class.xlsx", sheet_name="Control vs Tarsus")
df6 = pd.read_excel("MMCR Data Stats Class.xlsx", sheet_name="Tarsectomy")
df7 = pd.read_excel("MMCR Data Stats Class.xlsx", sheet_name="Same patient ")

,#,Patient_name,Original Dataset \nAll = 1999-2018\nRAG = 2013-2020\nDBR = 2021-2024,Home_address,City,State,Zip,Phone,MRN,Eye ID,...,"Have data (1), not (0)",Success (postop MRD >2.5mm),Success 2 (change in MRD of > 1mm),Success 3 (MRD difference < 1mm),Success 4 (success1 or 3),Ratio (resection to elevation),predicted MRD change - actual MRD change,"predicted within 1 of actual (0), >1 (1)",severe,bleph
0,681,"AGRAMA, FRANK",2013-2020,NaN,NaN,NaN,NaN,NaN,025-78-97 9,"AGRAMA, FRANK_0",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,943,"GAURI, INDIRA",2021-2024,NaN,NaN,NaN,NaN,NaN,1203647,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,679,"ABISHOR, JANET",2013-2020,NaN,NaN,NaN,NaN,NaN,5236956,"ABISHOR, JANET_00",...,1.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
3,682,"AKERS, MARI-ANNE S",2013-2020,NaN,NaN,NaN,NaN,NaN,030-28-18,"AKERS, MARI-ANNE S_00",...,1.0,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN
4,396,Linda Russell,1999-2018,NaN,NaN,NaN,NaN,NaN,NaN,Linda Russell_0,...,1.0,1.0,1.0,1.0,1.0,3.076923,-0.45,0.0,NaN,NaN

df1, df2, df3 all have a # column and age that match up